html, body{
  background-color: #ffeead;
  font-size: 1.3em;
  font-family: sans-serif;
}
div{
  border-width: medium;
  border-color: orange;
  border-style: solid;
  width: 300px;
}
div:nth-child(1){
  background-color: pink;
}
div:nth-child(2){
  background-color: tan;
}
div:nth-child(3){
  background-color: lightblue;
}
#container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
}
