body, html{
  height: 100%;
}

#container{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: #333333;
}

#flavour{
  position: relative;
  width: 190px;
  height: 260px;
  border-radius: 80px 80px 10px 10px;
  overflow: hidden;
}
#flavours{
position: relative;
top: 0%;
left: -20%;
width: 140%;
height: 120%;
background-image: linear-gradient(0deg,red, red 33%, yellow 33%, yellow 66%, blue 66%, blue);
transform: rotate(150deg);
background-position: 0px;
background-repeat: repeat-y;
animation: animate 30s linear infinite;

}
#stick{
  width:57px;
  height: 86px;
  background-color: brown;
  border-radius: 0 0 25px 25px;
  display: block;
  margin: 0 auto;
}

@keyframes animate {
  to{
    background-position: 0px -1000px;
  }
}
