#positioned{
  border-style: solid;
  border-width: medium;
  border-color: orange;
  background-color: yellow;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
  transition: width 2s, height 2s;
  transition-timing-function: ease-in-out;
  animation-name: colors;
  animation-duration: 4s;
  /* transform: rotate(30deg) scale(2,3) rotateZ(10deg); */
}
@keyframes colors {
  from{
    background-color: yellow;
  }
  to{
    background-color: purple;
  }
}
#positioned:hover{
  width: 300px;
}
