body {
background-color: tan;
font-family: sans-serif;
margin-left: 10%;
}
h2 {
  color: white;
}
.produs{
  border-width: medium;
  border-style: solid;
}
.coffee {
border-color: brown;
}
#ceai {
  border-style: dotted;
  border-color: pink;
}
